<mat-card class="cardPrincipal">
    <mat-card-header class="cardHeader">
        <h2 mat-title>Welcome to your own customize tasks application </h2>
        Your to-do list:
    </mat-card-header>
    <mat-card-content class="cardCenter">
        <mat-card *ngFor="let todo of todoList; let i = index;" class="todoList">
            <mat-checkbox
                ng-model="todo.done"
                color='warn'
                (click)="isChecked(i)" 
                labelPosition="before">
            </mat-checkbox>
            <span class="text" [ngStyle]="{'text-decoration': getDeco(i), 'color' : getColor(i)}"> 
                {{todo.title}}
            </span>
            <button 
                mat-flat-button
                matTooltip="click to view details of this todo"
                (click)="onSingleView(i)" 
                class="mat-caption details">
                Details
            </button>
            <button
                mat-flat-button
                matTooltip="Delete task"
                (click)="deleteThis(i)">
                <mat-icon>
                    delete
                </mat-icon>
            </button>
        </mat-card>
    </mat-card-content>
    <mat-card-actions class="cardButton">
        <button mat-flat-button color="primary" routerLink="add-task"> Add Task</button>
        <button mat-flat-button color="warn" (click)="deleteAll()">
            clear all
        </button>
    </mat-card-actions>
</mat-card>