.cardPrincipal{
    max-width: 800px;
    margin: 5% 15%;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 2px 3px lightgrey, -1px -2px lightgrey;
    background-color: lightblue;
}
.cardHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;

}
.cardCenter{
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
}
.todoList{
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.cardButton{
    display: flex;
    justify-content: space-between;
}
.details:hover{
    color : blue;
}