<mat-card class="card">
        <h2>Sign Up!</h2>
</mat-card>
<form [formGroup]="userForm" (ngSubmit)="onSubmitForm()" class="form">
    <mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <input 
                matInput 
                matTooltip="min 6 characters"
                type="password" 
                placeholder="password" 
                formControlName="password">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button type="submit" (click)="openSnackBar(infoRegistration,action)" [disabled]="userForm.invalid">Sign Up</button>
    </mat-dialog-actions>
</form>