<mat-card class="container">
  <h1> Control your daily / weekly life doing a To-DO List</h1>
  <mat-card class="card">
    <mat-card-header>
      <h2> Why It’s Important To Keep a Daily To-Do List </h2>
    </mat-card-header>
    <mat-card-content>
      <p> You’re making your way through your life and managing to get the important stuff done. You work, you cook
        dinner, you do laundry, but you can’t ever seem to get ahead. Are you really getting everything you can out of
        the hours that you’re awake?
        One simple way to improve your productivity is to keep an agenda, whether by hand or via a day by day to-do list
        app. It may not sound like brilliant advice, but the effect of this small change cannot be overstated. This
        guide presents some reasons you should consider keeping to-do lists.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <h2> Organizing your Life</h2>
    </mat-card-header>
    <mat-card-content>
      <p> Beyond achieving your everyday chores, a to-do list helps you get a handle on management of more long-term
        projects and plan ahead for the future. If you’re the kind of person who wakes up, looks in the mirror, and
        says, “I’m unable to organize myself,” this may be the key to improving things.

        Let’s use an example. Say you have a long-term goal to reorganize your house, shifting furniture between rooms
        and making it feel more like the home you want it to be. Without a way to track what you’re getting done, it can
        be easy to keep putting off tasks like this indefinitely. But with a proper agenda, you can slip smaller pieces
        into different dates.

        Between your regular tasks, put in an entry for cleaning the living room one day, then shifting the layout the
        next, then moving onto the bedroom, and so on. After a week, you’ll find that you’ve made serious progress on
        your goals. Within a month, you’ll be finished!

        And that’s just one example. Whatever your goals are, this method can help you get closer to it one step at a
        time. Here are a few tips for other long-term events you can work on:</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <h2>Coordinating with Others</h2>
    </mat-card-header>
    <mat-card-content>
      <p>This process isn’t just for yourself! Keeping an agenda benefits other people as well. Especially if you’re
        using apps, you should have the option to use a shared to-do list via email. This is perfect for looping in
        colleagues for project management at work.

        You can also use it for home, though! If you need to get your family active on that house reorganization project
        we mentioned earlier, make sure they’re able to view your calendar. Or maybe you want to keep a to-do list with
        your best friend, allowing each other to keep track of what the other is up to on any given evening.

        No matter who you’re sharing with, this can increase your communication and mutual productivity. It’s also a
        great way to keep a spouse or significant other involved and aware of your schedule. There’s nothing to lose.

      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <h2>Holding Yourself Accountable </h2>
    </mat-card-header>
    <mat-card-content>
      <p>This one goes hand-in-hand with sharing your agenda. By giving others access, you’re also taking
        responsibility. It’s a way of, essentially, promising that you’re going to take action and get something done.
        There’s no hiding behind your memory or excuses of more important things to do. You can no longer cancel plans
        at the last second. Your friends, colleagues, and family will know exactly what you’ve done, and what you’re
        supposed to do on top of that.

        This can be scary and stressful, but it’s also freeing in a sense. If you’re able to deliver on these promises
        consistently, you’ll feel better and enjoy more respect from the people who have access to the shared agenda.
        This responsibility can also help ensure that you’re realistic about the number and scope of tasks you’re
        tracking.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <h2>Never Forget</h2>
    </mat-card-header>
    <mat-card-content>
      <p>The older and busier we get, the easier it is to forget important things. The world is full of distractions,
        and it’s all too easy to fall into procrastination. Don’t let your memory get in the way of you being
        productive!
        By keeping a to-do list, you can make sure to track even the things you normally don’t remember. Remind yourself
        to pick up milk from the grocery store, or to switch out laundry in an hour, or to make that important business
        phone call. These may seem small, but if it’s something you have a tendency to forget, it’s worth writing down.
        You can also set alarms for deadlines or milestones that you need to hit.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <h2>Reducing Stress</h2>
    </mat-card-header>
    <mat-card-content>
      <p>Is there anything worse than getting to the end of a long, stressful workday, laying your head down on the
        pillow, and suddenly realizing that you forgot some small but crucial task that absolutely must get done before
        tomorrow? What a headache! By sticking to an agenda, you can avoid this nightmare scenario.

        This is about more than just remembering to do stuff, but also the boost to mental health that comes with
        remembering. Not only will this lessen your immediate stress from realizing you didn’t finish something and
        freaking out, but it will allow you to sleep better and face tomorrow with more energy, better prepared to
        handle anything.

        Not only that, but if you’re using your to-do lists to help with work, it might put you in the good graces of
        your boss and colleagues, or of your wife or husband at home. You can improve your business relationships and
        make your partner happier.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <h2>Making Sure You Have Downtime</h2>
    </mat-card-header>
    <mat-card-content>
      <p>To-do lists aren’t just about working all the time. If you handle things right, you’ll increase your
        efficiency, which means you should actually find yourself with more free time. And that free time is absolutely
        critical to self-care.

        You can use this time to read, to exercise, to go for a walk, or even just to spend time with your family.
        Whatever brings you peace and calms you down, you should try to fit some of it into every day.

        Whether you add it to your agenda explicitly or not, it’s imperative that you find and embrace time for
        yourself. Everyone needs moments of the day to decompress and stop stressing out. If you’re constantly concerned
        about what needs to get done, you’ll never be able to relax. But if your listed agenda is helping you be more
        efficient in how you finish tasks, you should be able to spend less time worrying and more time enjoying life.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <h2>Keeping Priorities Straight</h2>
    </mat-card-header>
    <mat-card-content>
      <p>Without any sort of visual design, it can be difficult to order things in your head in order of importance. The
        decision about which task you tackle first can be left up to chance or whatever happens to be in your head at
        the time. Once it’s all written out, it’s a lot easier to move things around and plan accordingly.

        By keeping a well-structured to-do list, you can make sure that the most important things are getting done first
        and not being put off in favor of smaller, easier stuff. You can keep focusing on the items that are essential
        and not get distracted. And every night, you have the opportunity to look at what you accomplished and make
        modifications to what you want to prioritize for tomorrow.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <h2>Taking Stock</h2>
    </mat-card-header>
    <mat-card-content>
      <p>Building off that last point, an agenda is a great method for providing yourself an honest mirror of your days.
        If you build your next day’s agenda each evening, you can take that time to look back at what you’ve
        accomplished.

        If it doesn’t feel good enough, start thinking about how to modify things and improve on it. Start considering
        what would make you feel accomplished, and how you can realistically squeeze that into your days. Don’t be too
        mean to yourself, though! There’s a difference between being honest and being overly critical.

        As you practice and experiment with this, eventually you should find yourself slipping into a groove. One night,
        you’ll realize that you’re looking back on what you’ve done that day, and you actually feel great about it.
        That’s a wonderful feeling, and it can provide a serious sense of one of the most important keys to
        productiveness: motivation. Which leads us to the final and most important reason.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <h2>Staying Motivated</h2>
    </mat-card-header>
    <mat-card-content>
      Sometimes the problem isn’t remembering to get stuff done or even finding the time to do it. Sometimes it’s as
      simple as not feeling like it. Keeping a daily or even hourly to-do list can improve your motivation in surprising
      ways.

      There are two ways this works. The first, and simplest, is that it just feels good. Completing items and checking
      them off provides a burst of satisfaction to your brain that can be a shockingly strong psychological motivator.

      Beyond that, you can stay motivated by tracking an overall goal to your tasks. As an example, let’s say you’re
      keeping an agenda for work, and your overall goal is to get a big promotion. Every item you place under that goal
      can be viewed as helping to get you closer to it. And every time you start to feel unmotivated, all you need to
      get going again is to look to the top of the list, where you have that goal written out, and remember what it’s
      all for. You can do this!
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <h4> is this convinced you ? 
    Please register to access the application </h4> 
  </mat-card>
  <button mat-flat-button (click)="top()" class="top"> <mat-icon>navigation</mat-icon></button>

</mat-card>