.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card{
    margin : 1rem;
}
h1, h2,h4{
  color : lightblue
}
.top{
  position: fixed;
  right: 1px;
  bottom: 25px;
}
mat-icon{
  font-size: 2rem;
  color : blue;
}